@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* full container */
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/* best sellers */
.best-sellers {
  width: 100%;
  aspect-ratio: 1440 / 644;
  background-image: url("/assets/mens-page/bg-img/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-sellers .best-sellers-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.best-sellers h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 45px;
  color: #ffffff;
  letter-spacing: 0.5px;
}
.best-sellers h2 span {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 3px;
}
.best-sellers button.light {
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: max-content;
  margin: 0 auto;
  margin-top: 40px;
}

/* global */
.collection-wrapper {
  margin-inline: 60px;
  margin-block: 30px;
}
.collection-wrapper .collection-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
}
.collection-wrapper .collection-header .mens {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #53565a;
}
.collection-wrapper .collection-header div h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}
.collection-wrapper .collection-header .view-all {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}
.price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.banner h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #ffffff;
}
.banner p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 21px;
}
button.light {
  font-family: "Montserrat", sans-serif;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: max-content;
  margin: 0 auto;
  margin-top: 26px;
}
.new-tag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 5px;
}
.new-tag-content .bar {
  width: 3px;
  height: 16.6px;
  background-color: #000000;
}
.new-tag-content .new {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12.65px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}

.new-tag .new-tag-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* best-sellers-collection */
.collection-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
  gap: 10px;
}
.collection-card img {
  width: 100%;
  height: 384px;
  object-fit: cover;
}
.collection-card {
  position: relative;
}

.badge.label {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
}
.badge.label {
  background-color: #ffffffcc;
  padding: 8px 16px;
  width: 95%;
}

.badge.discount img {
  width: 26px;
  height: 20px;
}
.badge.discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 10px;
}
.badge-content {
  display: flex;
  gap: 8px;
  align-items: center;
}
.badge-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 12.65px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #e5323a;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.product-info h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #444444;
}
.product-info p.color {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #6e6e6e;
}
.product-info p.actual-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #797979;
}
/* motivation info */
.motivation {
  margin-bottom: 30px;
}
.motivation {
  width: 100%;
  aspect-ratio: 1440 / 644;
  background-image: url("/assets/mens-page/bg-img/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.motivation .motivation-content {
  width: 332px;
  margin-left: 60px;
}
/* legacy */

.legacy {
  width: 100%;
  position: relative;
  aspect-ratio: 1440 / 644;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.legacy::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/mens-page/bg-img/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: 1;
}
.legacy .legacy-content {
  width: 332px;
  margin-left: 60px;
  z-index: 2;
}
/* free your movement */
.free-movement {
  width: 100%;
  background-image: url("/assets/mens-page/bg-img/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1440 / 598;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.free-movement-content {
  margin-left: 60px;
}
/* NEW: SPEED */
.new-speed {
  width: 100%;
  background-image: url("/assets/mens-page/bg-img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1440/644;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  margin-bottom: 30px;
}
.new-speed-content {
  margin-bottom: 60px;
}
